<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112671406741-ci3ej176u9u8a109kpe4m1torq2u3hcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112671406741-ci3ej176u9u8a109kpe4m1torq2u3hcs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112671406741-r84jo6fjarmer3u14euhprehiqbap3ha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7P1I0JOBcCDrwajE4JyUpx1Yc4-LxlKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>112671406741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutterUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-2eca9</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-2eca9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112671406741:ios:61cbdaa2ee822356dbb99c</string>
</dict>
</plist>